.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #80d390;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 rgb(0, 0, 0);
  font-size: 8rem;
  color: #1e7726;
}

p {
  font-size: 2rem;
  color: #1e377c;
  font-family: 'Indie Flower', cursive;
  font-weight:bolder;
}

img {
  width: 80%;
}

footer {
  margin-top: 20%;
  color: #4a3616;
  font-size: 20px;
  text-align: center;
  font-family:'Times New Roman', Times, serif, cursive;

}
